body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#element1
{
        display: inline-block;
}

#element2
{
    display: inline-block;
    vertical-align: top;
    margin-top: 90px;
    text-align: right; 
    width: 25%;
}

#element3
{
    display: inline-block;
    /* vertical-align: top; */
    /* margin-top: 90px; */
    /* text-align: right;  */
    width: 35%;
}

