
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <title>Paired Stocks</title>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">

</head>
<body>
<div id="element1">
    <img src="../static/img/chart1.png" alt="Image">
    
</div>
<div id="element2">
    <p>График спреда.</p>
    <p>Построен с помощью метода наименьших квадратов(OLS method). </p>
    <p>Возвраты(Returns) одного инструмента, за период, вычтены из возвратов второго, с определенным коэффициентом.</p>
    <p>На данном графике показано соотношение разницы возвратов(Returns) за N лет. </p>
</div>
<div id="element3">
    <canvas id="canvas"></canvas>
</div>

<!-- <div id="element2">
    <p>График спреда.</p>
    <p>Построен с помощью метода наименьших квадратов(OLS method). </p>
    <p>Возвраты(Returns) одного инструмента, за период, вычтены из возвратов второго, с определенным коэффициентом.</p>
    <p>На данном графике показано соотношение разницы возвратов(Returns) за N лет. </p>
</div> -->
<hr>
<div id="element1">
    <img src="../static/img/chart1.png" alt="Image">
</div>
<div id="element2">
    <p>График спреда.</p>
    <p>Построен с помощью метода наименьших квадратов(OLS method). </p>
    <p>Возвраты(Returns) одного инструмента, за период, вычтены из возвратов второго, с определенным коэффициентом.</p>
    <p>На данном графике показано соотношение разницы возвратов(Returns) за N лет. </p>
</div>
<hr>

<hr>

<!-- https://github.com/roniemartinez/real-time-charts-with-flask/blob/master/templates/index.html JSCode and streaming in index is from this tutorial -->
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Random Dataset",
                    backgroundColor: 'rgb(49, 60, 176)',
                    borderColor: 'rgb(63, 76, 212)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Creating Real-Time Charts with Flask'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data1");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 100) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value);
            lineChart.update();
        }
    });
</script>
</body>
</html>
