
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <title>Paired Stocks</title>
</head>
<body>
<div id="element1">
    <img src="../static/img/chart1.png" alt="Image">
</div>
<div id="element2">
    <p>График спреда.</p>
    <p>Построен с помощью метода наименьших квадратов(OLS method). </p>
    <p>Возвраты(Returns) одного инструмента, за период, вычтены из возвратов второго, с определенным коэффициентом.</p>
    <p>На данном графике показано соотношение разницы возвратов(Returns) за N лет. </p>
    <!-- <ul>
        {% for city_id, city_name in cities %}
            <li><a href="{{ url_for('city', city_id=city_id) }}">{{ city_name }}</a></li>
        {% endfor %}
    </ul> -->
</div>
<div id="element3">
  <img src="../static/img/chart.jpg" alt="Image">
</div>
</body>
</html>
